model_config_list:{
    config:{
      name:"model1",
      base_path:"/models/MultiModel/model1",
      model_platform:"tensorflow",
      model_version_policy:{
        all:{}
      }
    },
    config:{
      name:"model2",
      base_path:"/models/MultiModel/model2",
      model_platform:"tensorflow"
    },
    config:{
      name:"model3",
      base_path:"/models/MultiModel/model3",
      model_platform:"tensorflow"
    },
    config:{
      name:"albert_cls_pb",
      base_path:"/models/MultiModel/albert_cls_pb",
      model_platform:"tensorflow"
    }
}
